body {
  background-color: blueviolet;
}

#buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: row nowrap;
  justify-content: center;
  height: 100vh;
}

#changeColor {
  height: 55px;
  width: 145px;
}

#changeColor:hover {
  background-color: crimson;
}

#colorName {
  background-color: cornsilk;
  font-size: x-large;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navItem {
  padding: 15px;
  font-size: large;
  font-weight: 500;
  background-color: cornsilk;
  border: 2px solid black;
  border-radius: 10px;
}

.navItem:hover {
  background-color: crimson;
}
