body {
  background-color: blueviolet;
}

#buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: row nowrap;
  justify-content: center;
  height: 100vh;
}

#changeColor {
  height: 55px;
  width: 145px;
}

#changeColor:hover {
  background-color: crimson;
}

#colorName {
  background-color: cornsilk;
}
